[submodule "home/.config/fish"]
	path = home/.config/fish
	url = https://github.com/Adamekka/fish
[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = https://github.com/Adamekka/nvim
[submodule "home/.config/picom"]
	path = home/.config/picom
	url = https://github.com/Adamekka/picom
[submodule "home/.config/xmonad"]
	path = home/.config/xmonad
	url = https://github.com/Adamekka/xmonad
